body {
  background: rgb(69, 255, 196);
  font-family: futura;
}

.background-change {
  transition: background-color 1000ms linear;
  background: gray;
}

main {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.wrap {
  margin: 8em auto;
}

input, button, .grandma-responses {
  border-radius: 3px;
  border: 2px solid black;
  display: inline-block;
  font-family: futura;
  padding: 1em 3em;
}

input {
  display: inline-block;
  font-size: 2em;
}

button {
  background: black;
  color: white;
  display: block;
  margin: 3em auto;
  font-size: 1em;
}

button:active, button:hover {
  background: rgb(60, 226, 173);
}

input:focus, button:focus {
  outline: none;
}

.grandma-responses {
  background: white;
}
