main {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.wrap {
  margin: 8em auto;
}

input {
  border-radius: 5px;
  border: 2px solid rgb(83, 175, 146);
  color: rgb(83, 175, 146);
  display: inline-block;
  font-size: 2em;
  padding: 1em 3em;
  text-align: center;
}

button {
  background: rgb(83, 175, 146);
  border: none;
  color: white;
  display: block;
  margin: 2em auto;
  font-size: 1em;
  padding: 1em 3em;
}

button:active, button:hover {
  background: black;
}

input:focus, button:focus {
  outline: none;
}
